@import url('https://fonts.googleapis.com/css?family=Alegreya&display=swap');

body {
    font-family: 'Alegreya', serif;
    text-align: center;
}

#display-time {
    font-weight: bold;
}

#clock {
    font-size: 72px;
}

#reset {
    display: none;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

footer li {
    list-style-type: none;
}