@import url('https://fonts.googleapis.com/css?family=Alegreya&display=swap');

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Alegreya', serif;
    text-align: center;
    min-height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, rgb(255, 44, 150), rgb(255, 135, 88));
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    color: rgb(27, 27, 27);
}

#main {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#timer-input {
    width: 80%;
    max-width: 500px;
    text-align: center;
    font-size: 24px;
    font-family: inherit;
    border-radius: 24px;
}

#box-divs {
    display: flex;
    justify-content: center;
}

#box-divs div {
    padding: 18px;
    margin: auto 18px;
}

label {
    text-align: center;
    display: inline;
}

button {
    background: rgb(226, 226, 226);
    font-family: inherit;
    font-size: 18px;
    padding: 6px 12px;
    margin-top: 12px;
    margin-bottom: 12px;
}

#display-time {
    font-weight: bold;
}

#clock {
    font-size: 72px;
    background-image: radial-gradient(pink, pink, rgb(255, 44, 150));
    transition: background-size 0.5s ease;
    background-position: center;
    width: 66vw;
    max-width: 500px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10vw;
}

#reset {
    display: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: calc(100% - 24px);
    margin: 0 auto;
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: linear-gradient(to bottom, rgb(255, 44, 150), rgb(255, 135, 88));
}

footer li {
    list-style-type: none;
}

a:link {
    color: darkblue;
}

a:hover {
    color: blue;
}

a:focus {
    color: white
}